
<section class="page-section clearfix">
            <div class="container">
                <div class="intro">
                    <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="images/intro.jpg" alt="image intro" />
                    <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">Fresh Ideas</span>
                            <span class="section-heading-lower">Worth Reading</span>
                        </h2>
                        <p class="mb-3">Every story and idea writen has been inspired from diffrent books and articles around the glob and through time, but mot of it from meditation and self-reflextion</p>
                        <div class="intro-button mx-auto"><%= link_to "Explore !", articles_path, class: "btn btn-primary btn-xl" %></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="page-section cta">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 mx-auto">
                        <div class="cta-inner bg-faded text-center rounded">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-upper">My Promise</span>
                                <span class="section-heading-lower">To You</span>
                            </h2>
                            <p class="mb-0"> The best articles to read on topics like health, happiness, creativity, productivity and more. The central question that drives my work is, “How can we live better?” To answer that question, I like to write about science-based ways to solve practical problems.You’ll find interesting articles to read on topics like how to stop procrastinating as well as personal recommendations like my list of the best books to read and my minimalist travel guide. Ready to dive in? You can use the categories below to browse my best articles.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        



